<div class = 'container'>
  <div class='page-header'>
    <h1>About Me</h1>
  </div>
  <div class='col-md-6'>
    <h1>What is this site?</h1>
    <p>This is a portfolio site powered by Ruby on Rails. You'll find all of my projects here, including things that
    I do on my own. It's meant to show off my skills, and provide me with something to continuously work on. If you interested
    in the source code, it can be found on my <a href = 'https://www.github.com/jkings454'>Github Page.</a></p>
  </div>
  <div class='col-md-6'>
    <h1>Who are you?</h1>
    <p>Well, currently, I'm a student at SLCC. I'm a big nerd who really likes to code and make complex
      solutions for simple tasks. Hopefully in the future, I'll get paid to do stuff like this, rather than
      doing this all for fun. If you'd like to see some of my work, then you're in the right place! The project page is
      <a href='/classes'>that-a-way</a></p>
  </div>
  <div class='col-md-6'>
    <h1>How often will this site be updated?</h1>
    <p>There isn't really a set schedule for this site. Sure, whenever I have a project to upload it'll be on this site, but
      otherwise updates will roll out when I feel like it. There's also a <a href='/blog'>blog</a> on this site which I'll
      update infrequently. I'll post any plans I have for the site on the blog, as well as any thoughts that I might have.</p>
  </div>
  <div class='col-md-6'>
    <h1>How do I contact you?</h1>
    <p>The best way is through email. My email address is <a href='mailto:josh.nichols.lives@gmail.com'>josh.nichols.lives@gmail.com</a></p>
  </div>
  <div class='col-md-6'>
    <h1>Can I use your code?</h1>
    <p>Of course! Anything you find on my GitHub page is fair game.</p>
  </div>
  <div class='col-md-6'>
    <h1>What are you working on right now?</h1>
    <p>Seeing as I can't predict the future, I'm going to point you to my <a href='/blog'>blog</a> once more. I'll usually
      post updates on that kind of stuff over there. Usually.</p>
  </div>
  <div class='col-md-6'>
    <h1>Do you do anything for fun?</h1>
    <p>What do you mean? Isn't coding fun enough?</p>
    <br/>
    <br/>
    <p>All right. Yes. I do have hobbies that aren't coding. <a href='https://soundcloud.com/jkings454'>Here's a link to my
      SoundCloud profile.</a>
  </div>
</div>
