<div class = "container">
  <div class = 'page-header'>
    <h1>Goals and Outcomes</h1>
  </div>
  <h3>What am I hoping to get out of my experience at SLCC?</h3>
  <p>A decent education.</p>
  <p>Well, that's not <em>everything</em>. I want to use this as an opportunity to meet new people and try new things. I've never been any
    good when it comes to social interaction, and I'm hoping to improve my social skills and stuff</p>
  <h3>What skills or knowledge do you want to acquire?</h3>
  <p>I like to learn specific skills on my own. For instance, I taught myself Ruby on Rails. What I want from SLCC (or any other
    college for that matter) is to be able to learn general skills that will help me throughout my life. For instance, sometimes
    I want to start a project and just don't know where to start. I might know how to do it, but I'll still have no idea
    what structure I should use, or what modules would be best for my specific needs. I'd like to know that.</p>
  <p>I mean, I can always Google "how to align div css," but it's a lot harder to google "how do I design an algorithm?"</p>
  <h3>How do you want to grow?</h3>
  <p>That's an interesting question.</p>
  <h4>As a learner</h4>
  <p>In general, I just never want to stop learning. I want to see myself become a lifelong learner. I just love learning
  new things.</p>
  <h4>As a person</h4>
  <p>I'd like to see myself come out of my shell. I'm a very shy person. I'd like to change that. I want to get out there
  and try new things and meet new people, but I just feel to shy to go out and do those things. It's interesting, because I know
  that it's all in my head, but regardless, it still bothers me.</p>
  <h3>What kind of career are you looking for?</h3>
  <p>I want to do what I love, and right now, I love coding.</p>
  <p>When I was younger, I wanted to make games. I downloaded some (very shady) game maker software and went to town. I loved it, but
    the software didn't give me as much control as I wanted. I decided to look up "how 2 mak game," and read that C++ was the best
    programming language for games. So I took it upon myself to learn C++.</p>

  <p>If you know anything about programming, you probably know that C++ isn't a very beginner friendly language, especially when you're
    twelve years old and have no idea what 'RAM' means. Regardless, I plowed through. Eventually, I found
    <a href="http://www.codecademy.com">Codecademy</a>, which is where my love of programming really began.</p>

  <p>While I still like to make games, I think that web development is the right field for me. I just love the feeling of pure joy
    when a webpage pops up and it <em>just works</em>.</p>
  <h3>What are your short term and long term goals?</h3>
  <div class = "col-md-6">
    <h4>Short Term</h4>
    <ul>
      <li>Lose weight</li>
      <li>Do well in school</li>
      <li>Improve my JavaScript skills</li>
      <li>Make a game</li>
    </ul>
  </div>
  <div class = "col-md-6">
    <h4>Long Term</h4>
    <ul>
      <li>Become more comfortable in social situations</li>
      <li>Learn new things</li>
      <li>Initiate the robot uprising</li>
      <li>Have a good career</li>
    </ul>
  </div>
</div>
