<div class="container invert">
  <h1 id="welcome" class="center-text">Hi!</h1>
  <div class="col-lg-4 col-lg-offset-4">
    <%= image_tag "me_blackwhite.jpg", class: "img-responsive round"%>
  </div>
  <div class = 'col-lg-12 center-text about'>
    <h1>My name is Josh Nichols.</h1>
    <p>I'm currently studying computer science at Salt Lake Community College. </p>
		<a href='/about' class="btn btn-primary btn-lg">Learn More.</a>
  </div>
</div>
