
<div class = "jumbotron coffee hidden-xs">
	<div class = "container hidden-xs" id = "front-page">
		<div class = "page-header">
			<h1 id = "welcome">WELCOME.</h1>
		</div>
    	<h1 class = "text-center hidden-xs" ><%= link_to "PROJECTS", '/classes'%> | <%= link_to 'RESUME', '/resume'%> | <%= link_to 'BLOG', '/blog'%></h1>
    </div>
</div>

<div class = "container visible-xs">
	<div class = "row visible-xs">
		<div class = "col-xs-6">
			<h2><a class = "mobile-square blue" href = '/classes'>PROJECTS</a></h2>
			<h2><a class = "mobile-square orange" href = '/resume'>RESUME</a></h2>
		</div>
		<div class = "col-xs-6">
			<h2><a class = "mobile-square green" href = '/blog'>BLOG</a></h2>
			<h2><a class = "mobile-square purple" href = '/about'>ABOUT</a></h2>
		</div>
	</div>
</div>