
<div class = "jumbotron coffee">
	<div class = "container" id = "front-page">
    	<h1 class = "text-center" ><%= link_to "PROJECTS", '/classes'%> | <%= link_to 'RESUME', '/resume'%> | <%= link_to 'BLOG', '/blog'%></h1>
    </div>
</div>
