<div class="container">
  <div class ="page-header">
    <h2>About Me</h2>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag "me_blackwhite.jpg", class: "img-responsive img-rounded"%>
    </div>
    <div class="col-lg-8">
      <h1>Hi!</h1>
      <p>My name is Josh Nichols and I'm currently a computer science major attending Salt Lake Community College. I started my journey when I was young, after I decided that I didn't just want to play video games, I wanted to make them. As I taught myself
        more and more, I realized I wasn't just into video-game design, I was into computers. Since then, I've taught myself a few skills, such as web-design(even a bit of back-end stuff too!), and started making my own websites and programs. I also started to 
        familiarize myself with both computer hardware and software. One of my proudest achievments is building my own PC. I've always loved to learn, and I hope to learn more throughout my life.</p>
      <p>This site is my portfolio site. It's meant to be a sort of hub where you can find all of the information you might want to know about me. Hopefully, this will be a place where I can organize all of the great things that I make (and probably 
        some not so great things too). Please, if you have any questions, please, email me at <a href="mailto:josh.nichols.lives@gmail.com">josh.nichols.lives@gmail.com</a>.
      </p>
      <a class="btn btn-default pull-right btn-lg" href="#">Tell me more!</a>

    </div>
  </div>
</div>
