<div class = "container">
  <div class = "page-header">
    <h1>Learning outside the classroom <small>A.K.A. The Page Where I Brag A Lot</small></h1>
  </div>
  <div class = "jumbotron">
  <h2>My GitHub Page</h2>
    <p>I upload pretty much everything that I do that's coding related to GitHub. Mostly because it makes it easy to download on different
      devices. But if you want to know pretty much everything that I work on, my GitHub page is where it's at.</p>
    <a href = "http://www.github.com/jkings454" class = "btn btn-lg btn-primary">Find it here</a>
  </div>
  <div class = "jumbotron">
    <h2>The extracurricular group</h2>
    <p>Another place where I'll put all of the projects and activities that I do outside the classroom. It's on this very site!</p>
    <a href = "/project_groups/3" class = 'btn btn-lg btn-primary'>Find it here</a>
  </div>
</div>
