<div class ="container">
    <div class="center-text">
      <h3>Joshua Nichols</h3>
      <h4>Please email any inquiries to <a href="mailto:josh.nichols.lives@gmail.com">josh.nichols.lives@gmail.com</a></h4>
    </div>
    <br />
    <br />
    <!-- me being responsive-albe -->
    <table class = "table table-responsive">
      <caption>Education</caption>
      <thead>
        <th>School Attended</th>
        <th>Location</th>
        <th>Dates Attended</th>
        <th>Degree Awarded or Expected</th>
      </thead>
      <tbody>
        <tr>
          <td>Viewmont High School</td>
          <td>Bountiful, UT</td>
          <td>2012 - 2015</td>
          <td>High School Diploma</td>
        </tr>
        <tr>
          <td>Salt Lake Community College</td>
          <td>Taylorsville, UT</td>
          <td>2016 - Present</td>
          <td>Associate of Science</td>
        </tr>
      </tbody>
    </table>
    <table class = "table table-responsive">
      <caption>Job Experience</caption>
      <thead>
        <th>Dates Worked</th>
        <th>Company</th>
        <th>Position<th>
      </thead>
      <tbody>
        <tr>
          <td>2012 - 2016</td>
          <td>McDonald's</td>
          <td>Crew Trainer</td>
        </tr>
        <tr>
          <td>2016 - Present</td>
          <td>Dell Nichols Commercial Real Estate</td>
          <td>Property Researcher</td>
        </tr>
      </tbody>
    </table class = "table table-responsive">
    <table>
      <caption>Why Hire Me?</caption>
      <tbody>
        <td>I'm self motivated learner with a love of all things programming,<br />
        I love to spend my time learning new technologies and improving my current skills. <br/ >I particularly like web technologies,
        and I'm never afraid to try something new.</td>
        <td>
          <b>Skills:</b>
          <ul>
            <li>Extensive knowledge of HTML5 and CSS3</li>
            <li>Familiarity with JavaScript and JQuery</li>
            <li>Familiarity with Ruby on Rails and the MVC pattern</li>
            <li>Java</li>
            <li>Python</li>
          </ul>
        </td>
      </tbody>
    </table>
</div>
