<div class ="container">
  <div class ="page-header">
    <h1><%=@project.name%></h1>
  </div>
  <p><strong>url:</strong> <code><%= @project.link %> </code></p>
  <p><strong>description: </strong></p>
  <p><%= @project.description%></p>
</div>
