/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 165px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #f5f5f5;
}
.navsplit-before {
    padding-right: 1px !important;
}
.navsplit-after {
    padding-left: 1px !important;
}
.marketing{
    background: url('marketing.jpg') no-repeat center center;
    color: #f6f6f6;
    text-shadow: 2px 2px 2px #000;
    
}
.abacus {
    background: url('abacus.jpg') no-repeat center center;
    color: #f6f6f6;
    text-shadow: 2px 2px  2px#363636;
}

.road {
    background: url('road.jpg') no-repeat center center;
    color: #f6f6f6;
    text-shadow: 2px 2px  2px#363636;
}
.readbetter{
    color: #24d7e8
}
.readbetter:hover {
    color: #d6f4f6
}